.footer {
   padding-left: 5rem;
    background-color: #27334d;
    min-height: 200px;
    color: white;
}
.image{  
    display: flex;
    align-items: center;
}

.contact_header{
    font-weight: bold;
    padding-bottom: 3rem;
}
.footer_box{
    color: white;
    font-size: 14px;
    padding-bottom: 1rem; 
}
